@{
    var korisnikId = ViewData["KorisnikId"];
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Gradski Muzej Subotica</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/GradskiMuzejSubotica_ZavrsniRad.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Strucnjak">Gradski Muzej Subotica</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Strucnjak">Početna</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Rad sa predmetima
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li class="nav-item">
                                    <a class="dropdown-item nav-link text-dark" asp-area=""
                                       asp-controller="Predmet" asp-action="SearchForListPredmet">Pretraga predmeta</a>
                                </li>
                                <li class="nav-item">
                                    <a class="dropdown-item nav-link text-dark" asp-area=""
                                       asp-controller="Predmet" asp-action="SetPredmetId">Unos predmeta</a>
                                </li>
                                <li class="nav-item">
                                    <a class="dropdown-item nav-link text-dark" asp-area=""
                                       asp-controller="Predmet" asp-action="SearchPredmet" asp-route-choose="1">Izmena podataka predmeta</a>
                                </li>
                                <li class="nav-item">
                                    <a class="dropdown-item nav-link text-dark" asp-area=""
                                       asp-controller="Predmet" asp-action="SearchPredmet" asp-route-choose="2">Brisanje predmeta</a>
                                </li>
                                <li class="nav-item">
                                    <a class="dropdown-item" asp-area="" asp-controller="Predmet" asp-action="SearchPredmet"
                                       asp-route-korisnik="@korisnikId" asp-route-choose="3">Zahtev za restauraciju</a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Rad sa izložbama
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li class="nav-item">
                                    <a class="dropdown-item nav-link text-dark" asp-area=""
                                       asp-controller="Izlozba" asp-action="SearchForListIzlozba">Pretraga izložba</a>
                                </li>
                                <li class="nav-item">
                                    <a class="dropdown-item nav-link text-dark" asp-area=""
                                       asp-controller="Izlozba" asp-action="SetIdIzlozba">Unos izložbe</a>
                                </li>
                                <li class="nav-item">
                                    <a class="dropdown-item nav-link text-dark" asp-area=""
                                       asp-controller="Izlozba" asp-action="SearchIzlozba" asp-route-choose="1">Izmena podataka izložbe</a>
                                </li>
                                <li class="nav-item">
                                    <a class="dropdown-item nav-link text-dark" asp-area=""
                                       asp-controller="Izlozba" asp-action="SearchIzlozba" asp-route-choose="2">Brisanje izložbe</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Login">Izlogujte se</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
