@model GradskiMuzejSubotica_ZavrsniRad.Models.ViewModel.SearchPredmetViewModel

@{
    ViewData["Title"] = "Pretraga Izložbe";
    Layout = "_StrucnjakLayout";
    var action = ViewData["Action"];
    var errorSearch = ViewData["ErrorSearch"];
}

<h1>Pretraga izložbe</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="SearchIzlozba">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group" hidden>
                <label asp-for="SearchType" class="control-label"></label>
                <input asp-for="SearchType" class="form-control" value="@action"/>
                <span asp-validation-for="SearchType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SearchName" class="control-label">Unesite šifru izložbe</label>
                <input asp-for="SearchName" class="form-control" />
                <span asp-validation-for="SearchName" class="text-danger"></span>
                @if(errorSearch != null)
                {
                    <span asp-validation-for="SearchName" class="text-danger">@errorSearch</span>
                }
            </div>
            <div class="form-group">
                <input type="submit" value="Pretraga" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
