@model GradskiMuzejSubotica_ZavrsniRad.Models.Account.RegisterViewModel

@{
    ViewData["Title"] = "Registracija";
    string errorUser = (String)ViewData["LoginError"];
    string errorRole = (String)ViewData["RolesError"];
}


<h1>Registracija</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Register">
            
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="UserName" class="control-label"></label>
                <input asp-for="UserName" class="form-control" />
                <span asp-validation-for="UserName" class="text-danger"></span>
                @{
                if(errorUser!=null)
                {
                   <span asp-validation-for="UserName" class="text-danger">@errorUser</span>
                }
                }
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConfirmPassword" class="control-label"></label>
                <input asp-for="ConfirmPassword" class="form-control" />
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Role" class="control-label"></label>
                <select asp-for="Role" class="form-control" asp-items="@(new SelectList(ViewBag.Roles,"Id", "Name"))">
                    <option value="-1">---Izaberite rolu---</option>
                </select>
                <span asp-validation-for="Role" class="text-danger"></span>
                @{
                    if(errorRole!=null)
                    {
                    <span asp-validation-for="Role" class="text-danger">@errorRole</span>
                    }
                }
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Registruj se" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
