@model GradskiMuzejSubotica_ZavrsniRad.Models.ViewModel.SearchPredmetViewModel

@{
    ViewData["Title"] = "Pretraga Računa";
    Layout = "~/Views/Shared/_RadnikLayout.cshtml";
    var searchError = ViewData["SearchError"];
}

<h1>Pretraga računa</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="SearchRacunForDelete">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="SearchType" class="control-label">Šifra računa</label>
                <input asp-for="SearchType" class="form-control" />
                <span asp-validation-for="SearchType" class="text-danger"></span>
                @if(searchError!=null)
                {
                    <span asp-validation-for="SearchType" class="text-danger">@searchError</span>
                }
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Pretraga" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
